{{ define "content" }}
<form method="post">
  <fieldset>
    <pre class="edit-balance">{{.balance}}</pre>
    <textarea name="file" class="edit full-file">{{ .ledgerFile }}</textarea>
  </fieldset>
  <input type="submit" class="btn btn-primary" />
</form>
{{ end }}