{{ define "content" }}
  <p>Gasto anual: <b>{{.yearly_expense}}</b></p>
  <p>Gasto mensual promedio: <b>{{.monthly_expense}}</b></p>
  <p>Ingresos en {{.last_month}}: <b>{{.last_month_income}}</b></p>
  <p>Ingresos en {{.last_last_month}}: <b>{{.last_last_month_income}}</b></p>
  <p>Tenemos en el banco: <b>{{.bank_balance}}</b></p>
{{ end }}