body {
  padding-top: 60px;
}

.edit {
  width: 100%;
  font-family: 'Monaco', 'Courier New', monospace;
}

.edit-balance {
  float: right;
  margin-left: 1em;
}

.full-file {
  height: 600px;
}

.template {
  display: none;
}

#graph {
  width: 100%;
  height: 400px;
}

.CodeMirror {
  border: 1px solid #eee;
  height: 500px;
  margin-bottom: 10px;
  font-family: Monaco, Consolas, monospace;
  padding: 5px;
}

.CodeMirror-focused .CodeMirror-selected {
  background: #B3D4FD;
}

.CodeMirror-hints {
  font-family: Monaco, Consolas, monospace;
}